@model User_Management_System.Models.ResetPasswordModel

<div class="container">
    <h2 style="text-align:center; color:white">Login</h2>
    <form id="UpdatePasswordForm" asp-action="UpdatePassword" asp-controller="Account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Id" type="hidden" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button style="margin-bottom: 10px" type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>

<div id="messageContainer" class="message-container"></div>


