@model User_Management_System.Models.ApplicationUser

@{
    ViewData["Title"] = "SignUp";
}

<div class="Row">
    <h3 style="text-align:center; color:white">Register New User</h3>
    <form asp-action="SignUp" asp-controller="Account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="Role" type="hidden" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="DateTime" type="hidden" class="form-control" />
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName">Full Name</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MobileNumber">Phone Number</label>
            <input asp-for="MobileNumber" class="form-control" />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender">Gender</label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button style="margin-bottom: 10px" type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>

